.DS_Store
node_modules
dist
.vercel
.env
.env.local
.env.*.local

# Added by Peter Ungaro for Claude/Superowers development
.claude
docs/superpowers

# Added by Peter Ungaro for testing direct Github access
.gemini
